<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<display-name>WelcomeCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.WelcomeCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCtl</servlet-name>
  	<display-name>LoginCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.LoginCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<display-name>UserRegistrationCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.UserRegistrationCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserCtl</servlet-name>
  	<display-name>UserCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.UserCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RoleCtl</servlet-name>
  	<display-name>RoleCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.RoleCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CollegeCtl</servlet-name>
  	<display-name>CollegeCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.CollegeCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentCtl</servlet-name>
  	<display-name>StudentCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.StudentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarksheetCtl</servlet-name>
  	<display-name>MarksheetCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.MarksheetCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseCtl</servlet-name>
  	<display-name>CourseCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.CourseCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectCtl</servlet-name>
  	<display-name>SubjectCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.SubjectCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyCtl</servlet-name>
  	<display-name>FacultyCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.FacultyCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserListCtl</servlet-name>
  	<display-name>UserListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.UserListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RoleListCtl</servlet-name>
  	<display-name>RoleListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.RoleListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CollegeListCtl</servlet-name>
  	<display-name>CollegeListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.CollegeListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentListCtl</servlet-name>
  	<display-name>StudentListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.StudentListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CourseListCtl</servlet-name>
  	<display-name>CourseListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.CourseListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectListCtl</servlet-name>
  	<display-name>SubjectListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.SubjectListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarksheetListCtl</servlet-name>
  	<display-name>MarksheetListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.MarksheetListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FacultyListCtl</servlet-name>
  	<display-name>FacultyListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.FacultyListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TimetableCtl</servlet-name>
  	<display-name>TimetableCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.TimetableCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMarksheetCtl</servlet-name>
  	<display-name>GetMarksheetCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.GetMarksheetCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MarksheetMeritListCtl</servlet-name>
  	<display-name>MarksheetMeritListCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.MarksheetMeritListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyProfileCtl</servlet-name>
  	<display-name>MyProfileCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.MyProfileCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChangePasswordCtl</servlet-name>
  	<display-name>ChangePasswordCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.ChangePasswordCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotPasswordCtl</servlet-name>
  	<display-name>ForgotPasswordCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.rays.proj4.controller.ForgotPasswordCtl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WelcomeCtl</servlet-name>
  	<url-pattern>/WelcomeCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCtl</servlet-name>
  	<url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<url-pattern>/UserRegistrationCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserCtl</servlet-name>
  	<url-pattern>/UserCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RoleCtl</servlet-name>
  	<url-pattern>/RoleCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CollegeCtl</servlet-name>
  	<url-pattern>/CollegeCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentCtl</servlet-name>
  	<url-pattern>/StudentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarksheetCtl</servlet-name>
  	<url-pattern>/MarksheetCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseCtl</servlet-name>
  	<url-pattern>/CourseCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectCtl</servlet-name>
  	<url-pattern>/SubjectCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyCtl</servlet-name>
  	<url-pattern>/FacultyCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserListCtl</servlet-name>
  	<url-pattern>/UserListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RoleListCtl</servlet-name>
  	<url-pattern>/RoleListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CollegeListCtl</servlet-name>
  	<url-pattern>/CollegeListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentListCtl</servlet-name>
  	<url-pattern>/StudentListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CourseListCtl</servlet-name>
  	<url-pattern>/CourseListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectListCtl</servlet-name>
  	<url-pattern>/SubjectListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarksheetListCtl</servlet-name>
  	<url-pattern>/MarksheetListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FacultyListCtl</servlet-name>
  	<url-pattern>/FacultyListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimetableCtl</servlet-name>
  	<url-pattern>/TimetableCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMarksheetCtl</servlet-name>
  	<url-pattern>/GetMarksheetCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MarksheetMeritListCtl</servlet-name>
  	<url-pattern>/MarksheetMeritListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyProfileCtl</servlet-name>
  	<url-pattern>/MyProfileCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordCtl</servlet-name>
  	<url-pattern>/ChangePasswordCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPasswordCtl</servlet-name>
  	<url-pattern>/ForgotPasswordCtl</url-pattern>
  </servlet-mapping>
</web-app>
